<h1>Editing Prospect Characteristic</h1>

<%= render 'form', prospect_characteristic: @prospect_characteristic %>

<%= link_to 'Show', @prospect_characteristic %> |
<%= link_to 'Back', prospect_characteristics_path %>
