<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "Dashboard", dashboard_index_path, class: "nav-link", style: "color:white;" %>
  </li>
  <li class="nav-item" style="background-color: #225D7D; margin-right: -15px; border-left: 4px solid white;">
    <%= link_to "Clients CRM", clients_path, class: "nav-link", style: "color: white;" %>
  </li>
  <li class="nav-item">
    <%= link_to "Campaigns", campaigns_path, class: "nav-link", style: "color: white;" %>
  </li>
  <li class="nav-item">
    <%= link_to "Prospect Database", clients_path, class: "nav-link", style: "color: white;" %>
  </li>
</ul>
