<!-- <%= link_to 'Back', client_companies_path %> -->
<div class="container-fluid">
  <div class="row">
    <div style="min-width: 100%; background-color: white; margin-left: -15px;">
      <h3 style="padding: 20px;">Create a New Company Record</h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <%= render partial: "layouts/shared/flash_messages", flash: flash %>
</div>
<div class="container-fluid">
  <div class="row">
    <%= link_to 'Back', clients_path, class: "btn btn-outline-secondary", style: "width: 180px;" %>
  </div>
</div>

<div class="container-fluid" style="margin-bottom: 80px;">
  <div class="row" style="margin-top: 30px;">
    <div class="col" style="margin-left: -15px;">
      <div class="card" style="padding: 20px; min-width: 100%;">

        <%= render 'form', client_company: @client_company %>

      </div>
    </div>
  </div>
</div>
